/*
.segmented-control .control-item .custom-background {
	background-color: #98DA79;
}

.segmented-control .control-item .custom-background .active {
	background-color: #38C0DA;
}
*/

.title-bar {
	background-color: #2A485C;
	font-size:20px;
	color:#7ABFF5;
}

.footer-bar {
	background-color: #2A485C;
	font-size:20px;
	color:#7ABFF5;
}

.icon-avatar {
	background-image:url("../images/avatar.png");
}

.border-left-none {
	border-left:0px;
}

.btn-register {
	background-color: #F35C62;
	border-color: #F35C62;
}

input,
textarea,
button,
select {
  font-family: "Calibri";
  font-size: 17px;
}